{% extends 'index.html' %} {% block content %}
<div id="employees-content" class="content-section">
  <div id="toast-container"></div>
  <div class="container-fluid p-4">
            <h2 class="mb-4 text-center p-3 bg-primary text-white rounded shadow-sm w-100">Gestion des Employés</h2>
    <!-- Search and Filter -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-4">
            <input
              id="champrecherche"
              type="text"
              class="form-control"
              placeholder="Rechercher un employé..."
            />
          </div>
          <div class="col-md-4">
            <select class="form-select">
              <option selected>Tous les statuts</option>
              <option>Actif</option>
              <option>Inactif</option>
            </select>
          </div>
          <div class="col-md-4">
      <!-- <button
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#addEmployeeModal"
      >
        <i class="fas fa-plus me-2"></i> Ajouter un employé
      </button> -->
      <!-- <button
        class="btn btn btn-outline-success"
      >
        <i class="fas fa-file-excel me-2"></i>Exporter excel
      </button> -->
    </div>
        </div>
      </div>
    </div>
    <!-- Employees Table -->
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover" id="Table">
            <thead>
              <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Téléphone</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for resultat in resultats %}
              <tr>
                <td>{{resultat.Matricule}}</td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="avatar me-2">
                      <img
                        src="static\images\icons8-life-cycle-96.png"
                        alt="Employee"
                      />
                    </div>
                    <div>{{resultat.Nom}}</div>
                  </div>
                </td>
                <td>{{resultat.section}}</td>
                <td>{{resultat.Telephone}}</td>
                <td class="text-nowrap">
                  <li class="list-inline-item ">
                    <button
                      class="btn btn-outline-danger"
                      type="button"
                      data-bs-toggle="modal"
                      data-bs-target="#addEmployeeModal"
                      data-id="{{ resultat.Matricule }}"
                      data-nom="{{ resultat.Nom }}"
                      data-prenom="{{ resultat.Prenom }}"
                      data-section="{{ resultat.section }}"
                      data-email="{{ resultat.email }}"
                      data-telephone="{{ resultat.Telephone }}"
                      data-Adresse="{{ resultat.Adresse }}"
                      data-poste="{{ resultat.Poste }}"
                    >
                      <i class="fas fa-edit me-2"></i> Modifier
                    </button>
                    <!-- <form action="{{ url_for('Programme_Enrollement') }}" method="post" style="width: 100%; display: inline;">
                      <input type="text" name="uid" value="{{ resultat.ID }}" hidden>
                      <input type="text" name="user_id" value="{{ resultat.Matricule }}" hidden>
                      <input type="text" name="name_user" value="{{resultat.Nom}}" hidden>
                      <input type="number" name="finger_id" value="4" hidden>
                    <button
                    class="btn btn-outline-success"
                      type="submit"
                    >
                      <i class="fas fa-fingerprint me-2"></i>Enroler
                    </button>
                    </form> -->
                  </li>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- Pagination -->
        <nav aria-label="Page navigation" class="mt-4">
          <ul class="pagination justify-content-center"></ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="addEmployeeModal"
  tabindex="-1"
  aria-labelledby="addEmployeeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">
          Ajouter un nouvel employé
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/employee" method="POST" enctype="multipart/form-data">
          <div class="row mb-3">
            <div class="col-md-6">
              <label for="employeeId" class="form-label">ID Employé</label>
              <input
                list="Matriucle"
                type="text"
                class="form-control"
                name="idEmploye"
                required
              />
              <datalist id="Matriucle">
                {% for resultat in user_id %}
                <option value="{{ resultat.Code}}"/>{{ resultat.Nom}}</option>
                {% endfor %}
              </datalist>
            </div>
            <div class="col-md-6">
              <label for="department" class="form-label">Section</label>
              <input
                type="text"
                list="section"
                class="form-control"
                name="section"
                required
              />
              <datalist id="section">
                <option value="Cocody " />
                <option value="Informatique" />
                <option value="Finance" />
                <option value="Marketing" />
              </datalist>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" name="email" required />
            </div>
            <div class="col-md-6">
              <label for="phone" class="form-label">Téléphone</label>
              <input type="tel" class="form-control" name="telephone" />
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="joinDate" class="form-label">Date d'embauche</label>
              <input
                type="date"
                class="form-control"
                name="joinDate"
                required
              />
            </div>
            <div class="col-md-6">
              <label for="position" class="form-label">Poste</label>
              <input type="text" class="form-control" name="position" />
            </div>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Adresse</label>
            <textarea class="form-control" name="address" rows="2"></textarea>
          </div>
          <input type="submit" value="Enregistrer" class="btn btn-primary" />
          <input
            type="reset"
            value="Annuler"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
