<!-- Sidebar -->
{% if session['role']|lower == 'admin'%}
<div class="sidebar">
  <div class="sidebar-header">
    <i class="fas fa-fingerprint"></i>
    <span>Biometric</span>
  </div>

  <ul class="sidebar-menu">
    <li class="{% if active_page == 'index' %}active{% endif %}">
      <form action="{{ url_for('index') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-tachometer-alt"></i> Tableau de bord
        </button>
      </form>
    </li>

    <li class="{% if active_page == 'employee' %}active{% endif %}">
      <form action="{{ url_for('intf_employee') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-users"></i> Employee
        </button>
      </form>
    </li>
    <li class="{% if active_page == 'presence' %}active{% endif %}">
      <form action="{{ url_for('intf_presence') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-check-circle"></i>Pointage Valide
        </button>
      </form>
    </li>
    <li class="{% if active_page == 'pointage_invalie' %}active{% endif %}">
      <form action="{{ url_for('intf_pointage_invalie') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-times-circle"></i>Pointage Invalide
        </button>
      </form>
    </li>
    <li class="{% if active_page == 'rapports' %}active{% endif %}">
      <form action="{{ url_for('intf_rapports') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-chart-bar"></i> Rapports
        </button>
      </form>
    </li>
    <!-- <li class="{% if active_page == 'appareils' %}active{% endif %}">
      <form action="{{ url_for('intf_appareils') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-fingerprint"></i> Appareils
        </button>
      </form>
    </li> -->
    <!-- <li class="{% if active_page == 'utilisateurs' %}active{% endif %}">
      <form action="{{ url_for('lister_utilisateurs') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-user-plus"></i> Utilisateur
        </button>
      </form>
    </li> -->
    <!-- <li class="{% if active_page == 'parametres' %}active{% endif %}">
      <form action="{{ url_for('intf_Parametres') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-cog"></i> Paramètres
        </button>
      </form>
    </li> -->
  </ul>

  <div class="sidebar-footer">
    <form action="/logout" method="get" style="width:100%;">
      <button type="submit" class="btn btn-sm btn-outline-light w-100">
        <i class="fas fa-sign-out-alt"></i> Déconnexion
      </button>
    </form>
  </div>
</div>
{% endif %}
{% if session['role']|lower == 'superadmin'%}
<div class="sidebar">
  <div class="sidebar-header">
    <i class="fas fa-fingerprint"></i>
    <span>Biometric</span>
  </div>

  <ul class="sidebar-menu">
    <li class="{% if active_page == 'index' %}active{% endif %}">
      <form action="{{ url_for('index') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-tachometer-alt"></i> Tableau de bord
        </button>
      </form>
    </li>

    <li class="{% if active_page == 'employee' %}active{% endif %}">
      <form action="{{ url_for('intf_employee') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-users"></i> Employee
        </button>
      </form>
    </li>
    <li class="{% if active_page == 'presence' %}active{% endif %}">
      <form action="{{ url_for('intf_presence') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-check-circle"></i>Pointage Valide
        </button>
      </form>
    </li>
    <li class="{% if active_page == 'pointage_invalie' %}active{% endif %}">
      <form action="{{ url_for('intf_pointage_invalie') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-times-circle"></i>Pointage Invalide
        </button>
      </form>
    </li>
    <!-- <li class="{% if active_page == 'rapports' %}active{% endif %}">
      <form action="{{ url_for('intf_rapports') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-chart-bar"></i> Rapports
        </button>
      </form>
    </li> -->
    <!-- <li class="{% if active_page == 'appareils' %}active{% endif %}">
      <form action="{{ url_for('intf_appareils') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-fingerprint"></i> Appareils
        </button>
      </form>
    </li> -->
    <li class="{% if active_page == 'utilisateurs' %}active{% endif %}">
      <form action="{{ url_for('lister_utilisateurs') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-user-plus"></i> Utilisateur
        </button>
      </form>
    </li>
    <!-- <li class="{% if active_page == 'parametres' %}active{% endif %}">
      <form action="{{ url_for('intf_Parametres') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-cog"></i> Paramètres
        </button>
      </form>
    </li> -->
  </ul>
  <div class="sidebar-footer">
    <form action="/logout" method="get" style="width:100%;">
      <button type="submit" class="btn btn-sm btn-outline-light w-100">
        <i class="fas fa-sign-out-alt"></i> Déconnexion
      </button>
    </form>
  </div>
</div>
{% endif %}
{% if session['role']|lower == 'professeur' %}
<div class="sidebar">
  <div class="sidebar-header">
    <i class="fas fa-fingerprint"></i>
    <span>Biometric</span>
  </div>
  <ul class="sidebar-menu">
    <li class="{% if active_page == 'index' %}active{% endif %}">
      <a class="text-white text-decoration-none" href="{{ url_for('index') }}">
        <i class="fas fa-tachometer-alt"></i> Tableau de bord</a
      >
    </li>
    <li class="{% if active_page == 'presence' %}active{% endif %}">
      <form action="{{ url_for('intf_presence') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-check-circle"></i>Pointage Valide
        </button>
      </form>
    </li>
    <li class="{% if active_page == 'pointage_invalie' %}active{% endif %}">
      <form action="{{ url_for('intf_pointage_invalie') }}" method="get" style="width:100%;">
        <button type="submit" class="sidebar-btn">
          <i class="fas fa-times-circle"></i>Pointage Invalide
        </button>
      </form>
    </li>
    <li class="{% if active_page == 'rapports' %}active{% endif %}">
      <a
        class="text-white text-decoration-none"
        href="{{ url_for('intf_rapports') }}"
      >
        <i class="fas fa-chart-bar"></i>Rapports</a
      >
    </li>
    <!-- <li class="{% if active_page == 'utilisateurs' %}active{% endif %}">
      <a
        class="text-white text-decoration-none"
        href="{{ url_for('lister_utilisateurs') }}"
      >
        <i class="fas fa-user-plus "></i>Utilisateur</a
      >
    </li> -->
     <!-- <li class="{% if active_page == 'parametres' %}active{% endif %}">
      <a
        class="text-white text-decoration-none"
        href="{{ url_for('intf_Parametres') }}"
      >
        <i class="fas fa-cog "></i>Paramètres</a
      >
    </li> -->
  </ul>
  <div class="sidebar-footer">
    <a href="/logout" class="btn btn-sm btn-outline-light">
      <i class="fas fa-sign-out-alt"></i> Déconnexion
    </a>
  </div>
</div>
{% endif %}